<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="../public/assets/css/style.css">
        <link rel="shortcut icon" href="../public/assets/img/favicon.ico" type="image/x-icon">
        <title>Culturia</title>
    </head>
    <body>
        <div class="container">
            <div class="filter-panel">
                <div class="left">
                    <button class="button iconify-button filter-button">Filtres</button>
                </div> 
                <div class="left">
                    <button class="button iconify-button specific-filter-button">Prix</button> 
                </div> 
                <div class="left">
                    <button class="button iconify-button specific-filter-button">Taille</button>
                </div> 
                <div class="left">
                    <button class="button reset">Réinitialiser</button>
                </div> 
                <div class="right">
                    <button class="button iconify-button specific-filter-button">Trier par</button> 
                </div> 
            </div>
        </div>
        
    </body>
</html>

