<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="../public/assets/css/style.css">
        <link rel="shortcut icon" href="../public/assets/img/favicon.ico" type="image/x-icon">
        <title>Culturia</title>
    </head>
    <body>
    <form action="php_accueil.php" method="post">
            <ul id="artwork-carousel" class="carousel">
                <li class="carousel-element">
                    <div class="carousel-element-container">
                        <h1 class="carousel-element-name">
                            Michel Ange
                        </h1>
                        <p class="carousel-element-description">
                            Artiste capable d’exrimer dans ses œuvres une parfaite maîtrise de l’anatomie et des formes humaines, alliant puissance, expressivité et émotion pour créer des compositions harmonieuses et saisissantes.
                        </p>
                    </div>
                </li>
                <li class="carousel-element">
                    <div class="carousel-element-container">
                        <h1 class="carousel-element-name">
                            Michel Ange
                        </h1>
                        <p class="carousel-element-description">
                            Artiste capable d’exrimer dans ses œuvres une parfaite maîtrise de l’anatomie et des formes humaines, alliant puissance, expressivité et émotion pour créer des compositions harmonieuses et saisissantes.
                        </p>
                    </div>
                </li>
                <li class="carousel-element">
                    <div class="carousel-element-container">
                        <h1 class="carousel-element-name">
                            Michel Ange
                        </h1>
                        <p class="carousel-element-description">
                            Artiste capable d’exrimer dans ses œuvres une parfaite maîtrise de l’anatomie et des formes humaines, alliant puissance, expressivité et émotion pour créer des compositions harmonieuses et saisissantes.
                        </p>
                    </div>
                </li>
                <li class="carousel-element">
                    <div class="carousel-element-container">
                        <h1 class="carousel-element-name">
                            Michel Ange
                        </h1>
                        <p class="carousel-element-description">
                            Artiste capable d’exrimer dans ses œuvres une parfaite maîtrise de l’anatomie et des formes humaines, alliant puissance, expressivité et émotion pour créer des compositions harmonieuses et saisissantes.
                        </p>
                    </div>
                </li>
            </ul>
            <h1>Catégories</h1>
            <ul id = "artwork-categories" class = "categories">
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//Grotjahn_Untitled Backcountry Capri reduced.jpg.webp" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Abstrait
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//photo_paysage_accueil.jpg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Paysages
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//photo_fleur_accueil.jpg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Floréal
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//photo_popart_accueil.jpg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Pop Art
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//photo_portrait_accueil.jpg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Portrait
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//photo_impressionisme_accueil.jpeg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Impréssionisme
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//photo_cubisme_acceuil.jpeg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Cubisme
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//photo_japonaise_accueil.jpg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Japonaise
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos/photo_contemporain_accueil.jpg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Contemporain
                        </h4>
                    </div>
                </li>
                <li class = "categorie-element">
                    <div class = "categorie-element-container">
                        <img class = "categorie-image" src = "../public/assets/img/photos//photo_sculpure_accueil.jpg" alt="" srcset=""/>
                        <h4 class = "categorie-element-nom">
                            Sculpture
                        </h4>
                    </div>
                </li>
            </ul>
            <div class="etes-vous-artiste">
                <img class="categorie-image-artiste"
                    src="../public/assets/img/photos//photo_artiste_accueil.jpg"
                    alt="Artiste">
                <div class="artiste-element-container">
                    <h1>Etez-vous artiste?</h1>
                    <p>Inscrivez-vous pour mettre en ligne vos oeuvres</p>
                    <a class="button filter-button">Je m'inscris</a>
                </div>
            </div>

            <h1>Artistes Populaires</h1>

            <ul id="artist-carousel" class="artist-carousel">
            <!-- Slide 1 -->
            <li class="artist-slide">
                <div class="artiste-populaire">
                <img class="image-artiste" src="../public/assets/img/photos/IMG_20251020_190443 (1).jpg" alt="Francesco">
                <p class="artiste-nom">Francesco</p>
                </div>
                <div class="artiste-populaire">
                <img class="image-artiste" src="../public/assets/img/photos/IMG_20251020_190443 (1).jpg" alt="Artiste 2">
                <p class="artiste-nom">Artiste 2</p>
                </div>
                <div class="artiste-populaire">
                <img class="image-artiste" src="../public/assets/img/photos/IMG_20251020_190443 (1).jpg" alt="Artiste 3">
                <p class="artiste-nom">Artiste 3</p>
                </div>
            </li>

            <!-- Slide 2 -->
            <li class="artist-slide">
                <div class="artiste-populaire">
                <img class="image-artiste" src="../public/assets/img/photos/IMG_20251020_190443 (1).jpg" alt="Artiste 4">
                <p class="artiste-nom">Artiste 4</p>
                </div>
                <div class="artiste-populaire">
                <img class="image-artiste" src="../public/assets/img/photos/IMG_20251020_190443 (1).jpg" alt="Artiste 5">
                <p class="artiste-nom">Artiste 5</p>
                </div>
                <div class="artiste-populaire">
                <img class="image-artiste" src="../public/assets/img/photos/IMG_20251020_190443 (1).jpg" alt="Artiste 6">
                <p class="artiste-nom">Artiste 6</p>
                </div>
            </li>
            </ul>


           <h1>Oeuvres Populaires</h1>
            <ul id="card-carousel" class="carousel multiple">
                <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_2.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_3.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_4.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
             <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_2.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_3.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_4.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
             <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_2.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_3.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="carousel-element card">
                <div class="card-container">
                    <img class='card-image'src="../public/assets/img/oeuvre_4.png" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            </ul>
    </form>
    </body>
</html>
