services:
  php:
    build:
      context: .
      target: dev
    container_name: culturia_dev
    environment:
      ENV: dev
      DATABASE_HOST: db
    ports:
      - "8000:8000"
    volumes:
      - ./src:/var/www/html/src
      - ./config:/var/www/html/config
      - ./composer.json:/var/www/html/composer.json
      - ./public/index.php:/var/www/html/public/index.php
      - ./public/assets:/var/www/html/public/assets
      - ./scripts/entrypoint.sh:/usr/local/bin/entrypoint.sh
      - ./views:/var/www/html/views
    networks:
      - web
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8
    container_name: db_dev
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: culturia_test
    networks:
      - web
    healthcheck:
      test: >
        mysql -e "SHOW DATABASES LIKE 'culturia_test';" | grep 'culturia_test'
      start_period: 30s
      interval: 5s
      timeout: 5s
      retries: 30


networks:
  web: