<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="../public/assets/css/style.css"/>
        <link rel="shortcut icon" href="../public/assets/img/favicon.ico" type="image/x-icon">
        <script type="module" src="../public/assets/js/index.js"></script>
        <title>Culturia</title>
    </head>
    <body>
    <main class="main-container">
        <h1 class="page-title">Profil de Artiste 1</h1>


    </main>
       
        
    </body>
</html>