<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="../public/assets/css/style.css"/>
        <link rel="shortcut icon" href="../public/assets/img/favicon.ico" type="image/x-icon">
        <script type="module" src="../public/assets/js/index.js"></script>
        <title>Culturia</title>
    </head>
    <body>
    <main class="main-container">
        <h1 class="page-title">Profil de Artiste 1</h1>
        <div class="panel">
            <nav class="panel-nav" >
                <button class="panel-button active">Vos informations</button>
                <button class="panel-button">Vos oeuvres</button>
                <button class="panel-button">Vos commandes</button>
            </nav>
            <div class="panel-element active">
                <h1 class="page-sub-title">Vos informations</h1>
                <div class="panel-container">
                    <div class="profile-header">
                        <img src="../public/assets/img/artist_1.png" alt="Profile"/>
                        <div class="profile-infos">
                            <h1 class="profile-name">Artiste 1</h1>
                            <h2 class="profile-email">artiste_1@culturia.com</h2>
                        </div>
                    </div>
                    <div class="profile-actions">
                        <a href="#" class="button">Modifier le profil</a>
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button class="button" type="submit">Supprimer le profil</button>
                        </form>
                    </div>
                    <div class="profile-stats">
                        <div class="profile-stats-header">
                            <h1>Chiffre d'affaire : 600000€</h1>
                            <h1>Nombre d'article vendus : 12</h1>
                        </div>

                        <h1>Dernières ventes</h1>
                        <div class="last-item-sold">
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <h4 class="card-author">Artiste</h4>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>

                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <h4 class="card-author">Artiste</h4>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>

                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <h4 class="card-author">Artiste</h4>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>

                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <h4 class="card-author">Artiste</h4>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>

                            </div>

                        </div>


                    </div>


                    

                </div>
            </div>

            <div class="panel-element">
                <h1 class="page-sub-title">Vos oeuvres</h1>
                <div class="panel-container">
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>

                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>

                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>
                    </div>
                    <div class="card">
                        <form method="POST" class="delete-form">
                            <input type="hidden" name="_METHOD" value="DELETE"/>
                            <button type="submit">&times;</button>
                        </form>
                        <div class="card-container">
                            <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                            <div class="card-title">
                                <h4 class="card-name">Nom oeuvre</h4>
                                <h4 class="card-price">650 €</h4>
                            </div>
                            <h4 class="card-author">Artiste</h4>
                            <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-element">
                <h1 class="page-sub-title">Vos commandes</h1>
                <div class="panel-container">
                    <div class="order-container">
                        <img src="../public/assets/img/account.svg" alt="client"/>
                        <h2>De : Client 1</h2>
                        <h2>Nombre d'article : 3</h2>
                        <h2>Prix total : 500€</h2>
                        <a id="toggle" class="button">Récapitulatif de la commande</a>
                        <div class="order-content">
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <a href="" class="button">Voir toutes les oeuvres</a>
                        </div>
                    </div>
                    <div class="order-container">
                        <img src="../public/assets/img/account.svg" alt="client"/>
                        <h2>De : Client 1</h2>
                        <h2>Nombre d'article : 3</h2>
                        <h2>Prix total : 500€</h2>
                        <a id="toggle" class="button">Récapitulatif de la commande</a>
                        <div class="order-content">
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <a href="" class="button">Voir toutes les oeuvres</a>
                        </div>
                    </div>
                    <div class="order-container">
                        <img src="../public/assets/img/account.svg" alt="client"/>
                        <h2>De : Client 1</h2>
                        <h2>Nombre d'article : 3</h2>
                        <h2>Prix total : 500€</h2>
                        <a id="toggle" class="button">Récapitulatif de la commande</a>
                        <div class="order-content">
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <a href="" class="button">Voir toutes les oeuvres</a>
                        </div>
                    </div>
                    <div class="order-container">
                        <img src="../public/assets/img/account.svg" alt="client"/>
                        <h2>De : Client 1</h2>
                        <h2>Nombre d'article : 3</h2>
                        <h2>Prix total : 500€</h2>
                        <a id="toggle" class="button">Récapitulatif de la commande</a>
                        <div class="order-content">
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>

                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>

                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <a href="" class="button">Voir toutes les oeuvres</a>
                        </div>
                    </div>
                    <div class="order-container">
                        <img src="../public/assets/img/account.svg" alt="client"/>
                        <h2>De : Client 1</h2>
                        <h2>Nombre d'article : 3</h2>
                        <h2>Prix total : 500€</h2>
                        <a id="toggle" class="button">Récapitulatif de la commande</a>
                        <div class="order-content">
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <a href="" class="button">Voir toutes les oeuvres</a>
                        </div>
                    </div>
                    <div class="order-container">
                        <img src="../public/assets/img/account.svg" alt="client"/>
                        <h2>De : Client 1</h2>
                        <h2>Nombre d'article : 3</h2>
                        <h2>Prix total : 500€</h2>
                        <a class="button">Récapitulatif de la commande</a>
                        <div class="order-content">
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-container">
                                    <img class='card-image' src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/>
                                    <div class="card-title">
                                        <h4 class="card-name">Nom oeuvre</h4>
                                        <h4 class="card-price">650 €</h4>
                                    </div>
                                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                                </div>
                            </div>
                            <a href="" class="button">Voir toutes les oeuvres</a>
                        </div>
                    </div>
                </div>

            </div>

    </main>
       
        
    </body>
</html>