<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="../public/assets/css/style.css"/>
        <link rel="shortcut icon" href="../public/assets/img/favicon.ico" type="image/x-icon">
        <title>Culturia</title>
    </head>
    <body>
    <main class="main-container"> 
        <h1 class="page-title">Mon panier</h1>
        <div class="cart-container">
            <h2 class="left">Nombre d'articles: 5</h2>
            <h2 class="right">Prix total: 2000€</h2>
        </div>
        <hr>
        <table class="cart-articles">
            <thead class="cart-article-head">
                <tr>
                    <th class="cart-article-properties">Oeuvre</th>
                    <th class="cart-article-properties">Prix</th>
                    <th class="cart-article-properties">Taille</th>
                    <th class="cart-article-properties">Type</th>
                    <th class="cart-article-properties">Retirer</th>
                </tr>
            </thead>
            <tbody class="cart-article-body">
                <tr>
                    <td><img src="../public/assets/img/oeuvre_1.png" alt="" srcset=""/></td>
                    <td>650 €</td>
                    <td>60x70</td>
                    <td>Abstrait</td>
                    <td><button class="button iconify-button delete-button"></button></td>
                </tr>
                <tr>
                    <td><img src="../public/assets/img/oeuvre_2.png" alt="" srcset=""/></td>
                    <td>650 €</td>
                    <td>60x70</td>
                    <td>Abstrait</td>
                    <td><button class="button iconify-button delete-button"></button></td>
                </tr>
                <tr>
                    <td><img src="../public/assets/img/oeuvre_3.png" alt="" srcset=""/></td>
                    <td>650 €</td>
                    <td>60x70</td>
                    <td>Abstrait</td>
                    <td><button class="button iconify-button delete-button"></button></td>
                </tr>
            </tbody>    
        </table>
        <div class="pagination-container">
                <button class="button iconify-button left-pagination-button"></button>
                <button class="button pagination">1</button>
                <button class="button pagination">2</button>
                <button class="button pagination">3</button>
                <button class="button pagination">4</button>
                <button class="button pagination">5</button>
                <button class="button pagination">6</button>
                <button class="button pagination">7</button>
                <button class="button pagination">8</button>
                <button class="button pagination">9</button>
                <button class="button pagination">10</button>
                <button class="button iconify-button right-pagination-button"></button>
        </div>
        <div class="cart-footer">
                <h1>Prix total : 2000 €</h1>
                <button class="button">Finaliser ma commande</button>
                      
        </div>
        
    </main>
       
        
    </body>
</html>