<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="shortcut icon" href="../public/assets/img/favicon.ico" type="image/x-icon">
    <title>Culturia - Choix de connexion</title>
</head>
<body>
    <main class="main-container">


    <h1>Choisissez votre type de compte</h1>

    <div class="choice-container">

        <div class="choice-box">
            <h2>Je suis amateur d'art</h2>
            <p>
                Créer un compte vous permet de sauvegarder vos favoris 
                et pleins d'autres avantages !
            </p>
            <button>S'inscrire</button>
            <p>
                Vous avez déjà un compte ?  
                <a href="#">Connectez-vous</a>
            </p>
        </div>

        <div class="choice-box">
            <h2>Je suis artiste</h2>
            <p>
                Vous êtes peintre, photographe, sculpteur ou 
                juste passionné, venez nous rejoindre !
            </p>
            <button>Candidater</button>
            <p>
                Vous avez déjà un compte ?  
                <a href="#">Connectez-vous</a>
            </p>
        </div>

    </div>

</main>


</body>
</html>
