<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../public/assets/img/favicon.ico">
    <title>CULTURIA</title>
</head>
<body>
    <!-- Header -->
    <header>
        <input id="header-menu-toggle" type="checkbox" class="burger-menu" />
        <label for="header-menu-toggle" class="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="header-top">
            <!-- Logo -->
            <a href="carousel.html" class="logo">
                <img src="../public/assets/img/Logo-header.png" class="logo-img">

            </a>

            <!-- Search Bar -->
            <div class="search-container">
                <div class="search-bar">
                    <span class="search-icon"><img src="../public/assets/img/search-icon.png" alt="Rechercher"></span>
                    <input type="text" placeholder="Oeuvre, artiste, catégorie, sujet...">

                </div>
            </div>

            <!-- Header Icons -->
            <div class="header-icons">
                <!-- Favoris -->
                <a href="likes.php" class="icon-btn">
                    <img src="../public/assets/img/favoris.svg" alt="Favoris">
                </a>

                <!-- Panier -->
                <a href="cart.html" class="icon-btn">
                    <div class="cart-count">0</div>
                    <img src="../public/assets/img/cart.svg" alt="Panier">
                </a>

                <!-- Profil -->
                <a href="#" class="icon-btn">
                    <img src="../public/assets/img/account.svg" alt="Profil">
                </a>
                <a href="#login" class="button">Se connecter</a>
                <a href="#register" class="button">S'inscrire</a>
            </div>
        </div>


        <!-- Navigation -->
        <nav>
            <a href="carousel.html">Acceuil</a>
            <a href="shop.html">Boutique</a>
            <a href="#">Artistes</a>
            <a href="#">Galerie virtuelle</a>
            <a href="#">Contactez-nous</a>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="content">

    </main>
</body>
</html>