<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="../public/assets/css/style.css"/>
        <link rel="shortcut icon" href="../public/assets/img/favicon.ico" type="image/x-icon">
        <title>Culturia</title>
    </head>
    <body>
        <div class="filter-panel">
                <div class="left">
                    <button class="button iconify-button filter-button">Filtres</button>
                </div> 
                <div class="left">
                    <button class="button iconify-button specific-filter-button">Prix</button> 
                </div> 
                <div class="left">
                    <button class="button iconify-button specific-filter-button">Taille</button>
                </div> 
                <div class="left">
                    <button class="button reset">Réinitialiser</button>
                </div> 
                <div class="right">
                    <button class="button iconify-button specific-filter-button">Trier par</button> 
                </div>
        </div> 
        <div class="container">    
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
            <div class="card">
                <div class="card-container">
                    <img class='card-image'src="" alt="" srcset=""/>
                    <div class="card-title">
                        <h4 class="card-name">Nom oeuvre</h4>
                        <h4 class="card-price">650 €</h4>
                    </div>
                    <h4 class="card-author">Artiste</h4>             
                    <p class="card-description">Description concise de l’oeuvre en expliqueant le style, date, lieu de création...</p>
                </div>
            
            </div>
        </div>
        
    </body>
</html>