.cart-container {
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
    height: 3rem;

}
.cart-container h2{
    margin: 0;
    font-size: 2.5rem;
    width: fit-content;
}
.cart-article {
    display: inline-block;
    width: 100%;
}
.cart-articles {
    width: 100%;
    text-align: center;
}
.cart-articles .cart-article-head {
    font-size: 1.6rem;
}
.cart-article-body td {
    width: 20%;
    font-size: 1.5rem;
}

.cart-detail-title {
    font-size: 2.5rem;
    margin: 0;
}
.cart-detail-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
}
.cart-footer {
    margin: 0 auto;
    width: fit-content;
    padding: 1rem;
}
.cart-footer h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: lighter;
    margin: .5rem 0;
}
.no-article-in-cart {
    text-align: center;
}