.overlay {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.overlay:target {
    display: flex;
}

.modal {
    background: #fdf3e7;
    padding: 1rem 3.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.18);
    max-height: 90vh;
    overflow-y: auto;
    width: 100%;
    max-width: 520px;
}
.modal h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.modal::-webkit-scrollbar-thumb {
    background-color: red;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}


@media (max-width: 650px) {
    .modal {
        padding: 2.2rem 2rem;
    }
}