.button {
    font-family: 'Inria Serif';
    font-size: 15px;
    font-weight: bold;
    background-color: #FFC2A1;
    width: max-content;
    height: 25px;
    border-radius: 20px;
    border: 0;
    padding: 0 10px;
    line-height: 25px;
    transition: opacity 0.4s;
    vertical-align: middle;
}

.button:hover {
    cursor: pointer;
    opacity: 75%;
}

.filter-button.iconify-button::before{
    float: left;
    content: "";  
    background:  url("../img/properties.svg") center center no-repeat;
    width: 25px;
    height: 100%;
    margin-right: 3px;
}

.button.reset {
    border-radius: 0px;
    border-left: 2px solid #00000093;
    background: none;
    padding: 0 14px;
    color: #00000093;
}

.specific-filter-button.iconify-button::after{
    float: right;
    vertical-align: middle;
    content: "";
    margin: 7.5px 0 7.5px 3px;
    background: url("../img/arrow.svg") center center no-repeat;
    width: 25px;
    height: 40%;
}