.card{
    background-color: white;
    width: 250px;
    height: 305px;
    padding: 22px;
    margin: 35px;
    box-shadow: 5px 0 10px #00000065;
}

.card .card-container {
    width: 100%;
    height: 100%;
}

.card .card-container .card-image {
    display: inline-block;
    background-color: grey;
    text-align: center;
    width: 100%;
    height: 60%;
    line-height: 30cqh;
}

.card-container .card-title {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.card-title h4 {
    margin: 0;
}

.card-title .card-name {
    float: left;
}

.card-title .card-price {
    float: right;
}
.card-container .card-author {
    margin: 0;
    font-size: 14px;
}
.card-container .card-description {
    margin-bottom: 0;
    font-size: 14px;
}