


header {
    background-color: #F3E9DA;
    padding: 20px 40px; 

}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.header-top nav {
    flex-basis: 100%;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    height: 58px;
    width: 78px;
}

.search-container {
    flex: 0 0 500px;
    margin-left :50px
}

.search-bar {
    position: relative;
    width: 100%;
}

.search-bar input {
    width: 100%;
    padding: 15px 50px 12px 20px;
    border: 3px solid #333;
    border-radius: 30px;
    font-size: 14px;
    font-family: 'Georgia', serif;
    background-color: #F3E9DA;
}

.search-bar input:focus {
    outline: none;
    border-color: #666;
}

.search-icon {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333;
}

/* Header Icons */
.header-icons {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.icon-btn {
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    color: black;
    transition: transform 0.2s;
    display: inline;
    float: left;
}

.icon-btn:hover {
    transform: scale(1.1);
}
.icon-btn .cart-count{
    float: right;
}


.icon-btn img {
    width: 28px;
    height: 28px;
    display: block;
}
.icon-btn .profile-image {
    border-radius: 20px;
}

/* Navigation */
.header-nav {
    display: flex;
    position: static;
    justify-content: center;
    gap: 40px;
    padding-top: 15px;
}

.header-nav a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    position: relative;
}

.header-nav a:hover {
    color: #666;
}

.header-nava::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s;
}

.header-nava:hover::after {
    width: 100%;
}

/* Main Content */
.content {
    min-height: calc(100vh - 140px);
}
.burger-menu {
    display: none;
}
.burger {
    display: none;
}

@media (max-width: 750px) {
    header {
        padding: 0;
    }
    .header-icons .button {
        display: none;
    }
    .header-top {
        align-items: center;
        gap: 15px;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        margin-left: 1rem;
        cursor: pointer;
    }
    .burger span {
        height: 3px;
        background: #000000;
        border-radius: 2px;
        transition: 0.3s ease;
    }
    .header-nav{
        position: fixed;
        top: 8rem;
        background: var(--backgroung-color);
        left: -100vw;
        width: 100vw;
        z-index: 10;
        height: 100vh;
        justify-content: flex-start;
        transition: left 0.75s ease;

    }
  .burger-menu:checked ~ .header-nav{
        left: 0;
    }
    .burger-menu:checked ~ .burger span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }
    .burger-menu:checked ~ .burger span:nth-child(2) {
        opacity: 0;
    }
    .burger-menu:checked ~ .burger span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
    .header-icons {
        align-items: flex-end;
        gap: 1rem;
    }
    .search-container{
        display: none;
    }
    .search-bar input{
        display: none;
    }
    .icon-btn img {
        width: auto;
        height: 22px;

    }
    .header-nav{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}