.container {
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-panel {
    padding: 10px;
    white-space: nowrap;
}

.filter-panel div {
    margin: 0 7px;
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
    overflow: hidden;
}
.button.left-pagination-button {
    border-radius: 0;
    background:  url("../img/arrow.svg") center center no-repeat;
    transform: rotate(90deg);
}
.pagination-button.iconify-button::before {
    content: "";
    background:  url("../img/arrow.svg") center center no-repeat;
    width: 10px;
    height: 50%;
    transform: rotate(90deg);
}
.button.pagination{
    padding: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    border-radius: 10px;
    transition: transform .5s;
}
.button.pagination:hover {
    position: relative;
    opacity: 100%;
    transform: scale(1.1);
}
.button.right-pagination-button {
    border-radius: 0;
    background:  url("../img/arrow.svg") center center no-repeat;
    transform: rotate(-90deg);
}
.pagination-container {
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}