.shop-container {
    display: flex;
    padding-top: 3.5rem;
    gap: 7rem;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-panel {
    width: 100%;
    height: 2.5rem;
}

.filter-panel .filter-panel-element {
    float: left;
}
.filter-panel .filter-panel-element > .button {
    margin-right: 1.4rem;
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
    overflow: hidden;
}
.button.left-pagination-button {
    border-radius: 0;
    background:  url("../img/arrow.svg") center center no-repeat;
    transform: rotate(90deg);
}
.pagination-button.iconify-button::before {
    content: "";
    background:  url("../img/arrow.svg") center center no-repeat;
    width: 1rem;
    height: 50%;
    transform: rotate(90deg);
}
.button.pagination{
    padding: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    border-radius: 10px;
    transition: transform .5s;
}
.button.pagination:hover {
    position: relative;
    opacity: 100%;
    transform: scale(1.1);
}
.button.right-pagination-button {
    border-radius: 0;
    background:  url("../img/arrow.svg") center center no-repeat;
    transform: rotate(-90deg);
}
.pagination-container {
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}