/* Loading components */
@import url("components/card.css");
@import url("components/buttons.css"); 
@import url("components/carousel.css");
@import url("components/pagination.css");
@import url("components/form.css");

/* Loading pages */
@import url("./header.css");
@import url("./footer.css");

@import url("./home.css");
@import url("./faq.css");

@import url("shop/shop.css");
@import url("shop/cart.css");
@import url("shop/show-artwork.css");

@import url("auth/common.css");
@import url("auth/login.css");
@import url("auth/register.css");
@import url("auth/cgu.css");
@import url("./ModifProfil.css");
/*@import url("./connexion-choice.css");*/
@import url("./profil.css");

@font-face {
        font-family: "Inria Serif";
        src: url("../font/InriaSerif-Regular.ttf") format('truetype');
}
/* Defining default website styles */
:root {
    --default-font: "Inria Serif";
    --backgroung-color: #F3E9DA;
    --default-font-weight: bold;
    --button-background-color: #FFC2A1;
    --carousel-marker-group-background-color: #371818;
    --carousel-marker-background-color: #B2785F;
}

html {
    font-size: 62.5%;
}

* {
    
    font-family: var(--default-font);
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--backgroung-color);  
}

.main-container {
    padding: 0 4.8rem;
}

.page-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.left {
    float: left;
}

.right {
    float: right; 
}

.alert {
    width: 50%;
    margin: 1rem auto;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 1.6rem;
    border-radius: 2rem;
}
.alert.alert-success {
    background-color: rgba(60, 179, 113, 50%);
    color: darkgreen;
}

.alert.alert-danger{
    background-color: rgba(205, 92, 92, 50%);
    color: darkred;
}