/* Loading components */
@import url("components/card.css");
@import url("components/buttons.css"); 
@import url("components/carousel.css");

/* Loading pages */
@import url("./shop.css");
@import url("./faq.css");
@import url("./cart.css");

@font-face {
        font-family: "Inria Serif";
        src: url("../font/InriaSerif-Regular.ttf") format('truetype');
}
/* Defining default website styles */
:root {
    --assets-path : "../../";
    --default-font: "Inria Serif";
    --backgroung-color: #F3E9DA;
    --default-font-weight: bold;
    --button-background-color: #FFC2A1;
    --carousel-marker-group-background-color: #371818;
    --carousel-marker-background-color: #B2785F;
}

html {
    font-size: 62.5%;
}

* {
    
    font-family: var(--default-font);
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--backgroung-color);  
}

.main-container {
    padding: 0 4.8rem;
}

.page-title {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.left {
    float: left;
}

.right {
    float: right; 
}


#artwork-categories {
  list-style: none;
  margin: 0 auto;
  padding: 0 4rem;  
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 800px) {
  #artwork-categories {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes quand l'écran est étroit */
  }
}


.categorie-element-container {
  display:flex;
  flex-direction: column;  
  align-items: center;
}

.categorie-image {
  width: 100%;
  max-width: 250px;
  max-height: 200px;
  min-width: 100px;
  min-height: 50px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(104, 104, 104);
}

.categorie-element-nom{
    font-size:medium;
    margin-top: 6px;
    width: 70%;      /* petit espace sous l'image */
    text-align: left;     /* texte bien aligné à gauche */
}

h1{
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
}
.etes-vous-artiste {
    position: relative;
    height: auto;
}
.artiste-element-container h1 {
    margin: 0;
}
.artiste-element-container p{
    margin-top: 10%;
}
.artiste-element-container{
    width: auto;
    height: auto;
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    padding: 4rem 2rem;
    text-align: center;
    font-size: large;
    color: white;
    margin: 0 auto;
    background-color: #00000080;
    max-width: 65rem;
    max-height: 30rem;
}

.categorie-image-artiste{
    width: 100%;
    height: auto;
}

.filter-button{
    color: #00000080;
    font-size: large;

}

.artiste-populaire {
  position: relative;
  width: 250px;
}

.image-artiste {
  max-width: 250px;
  max-height: 200px;
  min-width: 100px;
  min-height: 50px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(104, 104, 104);
}

.artiste-nom {
  font-size: medium;
  margin-top: 6px;
  text-align: left; /* nom sous l'image, à gauche */
}
