/* Loading components */
@import url("components/card.css");
@import url("components/buttons.css"); 
@import url("components/carousel.css");

/* Loading pages */
@import url("./shop.css");
@import url("./faq.css");
@import url("./cgu.css");
@import url("./cart.css");
@import url("./connexion-choice.css");
@import url("./ModifProfil.css");
@import url("./ModifOeuvre.css");
@import url("./header.css");
@import url("./footer.css");

@font-face {
        font-family: "Inria Serif";
        src: url("../font/InriaSerif-Regular.ttf") format('truetype');
}
/* Defining default website styles */
:root {
    --default-font: "Inria Serif";
    --backgroung-color: #F3E9DA;
    --default-font-weight: bold;
    --button-background-color: #FFC2A1;
    --carousel-marker-group-background-color: #371818;
    --carousel-marker-background-color: #B2785F;
}

html {
    font-size: 62.5%;
}

* {
    
    font-family: var(--default-font);
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--backgroung-color);  
}

.main-container {
    padding: 0 4.8rem;
}

.page-title {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.left {
    float: left;
}

.right {
    float: right; 
}