@import url("./card.css");
@import url("./buttons.css"); 
@import url("./shop.css");
@import url("./carousel.css");
@import url("./faq.css");

@font-face {
        font-family: "Inria Serif";
        src: url("../font/InriaSerif-Regular.ttf") format('truetype');
}
* {
    font-family: "Inria Serif";
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #F3E9DA;  
}

div.right {
    margin: 0;
}

.right {
    float: right; 
}