.button {
    font-family: var(--default-font);
    font-size: 1.5rem;
    font-weight: var(--default-font-weight);
    background-color: var(--button-background-color);
    width: max-content;
    display: inline-block;
    height: 2.5rem;
    border-radius: 2rem;
    border: 0;
    padding: 0 1rem;
    line-height: 2.5rem;
    transition: opacity 0.4s;
    vertical-align: middle;
}

.button:visited, .button:active, .button:link {
    text-decoration: none;
    color: black;
}

.button:hover {
    cursor: pointer;
    opacity: 75%;
}
.iconify-button::before {
    float: left;
    content: ""; 
    height: 100%;

}

.filter-button.iconify-button::before{
    background:  url("../../img/properties.svg") center center no-repeat;
    width: 25px;
    margin-right: 3px;
}
.delete-button {
    background: none;
    border-radius: 0;
}
.delete-button.iconify-button::before { 
    background:  url("../../img/delete.svg") center center no-repeat;
    width: 24px;
}

.button.reset {
    border-radius: 0px;
    border-left: 2px solid #00000093;
    background: none;
    padding: 0 14px;
    color: #00000093;
}

.specific-filter-button.iconify-button::after{
    float: right;
    vertical-align: middle;
    content: "";
    margin: 7.5px 0 7.5px 3px;
    background: url("../../img/arrow.svg") center center no-repeat;
    width: 25px;
    height: 40%;
}