.card {
    display: block;
    background-color: white;
    width: 25rem;
    height: 30.5rem;
    padding: 2.2rem;
    box-shadow: 5px 0 10px #00000065;
    transform: scale(1);
    transition: transform .5s;
    text-decoration: none;
    color: black;
}

.card:hover {
    transform: scale(1.025);
    cursor: pointer;
}
.card:hover, .card:visited, .card:active, .card:link {
    text-decoration: none;
}

.card .card-container {
    width: 100%;
    height: 100%;
}

.card .card-container .card-image {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 60%;
    line-height: 30cqh;
}

.card-container .card-title {
    margin-top: 1rem;
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
}

.card-title h4 {
    margin: 0;
}

.card-title .card-name {
    float: left;
}

.card-title .card-price {
    float: right;
}
.card-container .card-author {
    margin: 0;
    font-size: 1.2rem;
}
.card-container .card-description {
    margin-bottom: 0;
    font-size: 1.1rem;
}

.card .delete-form {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-self: right;
    position: absolute;
    transform: translate(150%, -130%);
}
.card .delete-form button[type="submit"] {
    border-radius: 50%;
    cursor: pointer;
    background-color: #EB4032;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border: 0;
    color: white;
    transition: scale .3s ease;
}
.card .delete-form button[type="submit"]:hover {
    transform: scale(110%);
}