.card {
    display: block;
    background-color: white;
    width: 25rem;
    height: 30.5rem;
    padding: 2.2rem;
    margin: 3.5rem;
    box-shadow: 5px 0 10px #00000065;
    transform: scale(1);
    transition: transform .5s;
}
.card {
    text-decoration: none;
    color: black;
}
.card:hover {
    transform: scale(1.025);
}

.card .card-container {
    width: 100%;
    height: 100%;
}

.card .card-container .card-image {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 60%;
    line-height: 30cqh;
}

.card-container .card-title {
    margin-top: 1rem;
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
}

.card-title h4 {
    margin: 0;
}

.card-title .card-name {
    float: left;
}

.card-title .card-price {
    float: right;
}
.card-container .card-author {
    margin: 0;
    font-size: 1.2rem;
}
.card-container .card-description {
    margin-bottom: 0;
    font-size: 1.1rem;
}