.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 0 auto;
    gap: 0.6rem;
    font-size: 1.3rem;
}

.form-group:has(input[type="checkbox"]) input[type="checkbox"]{
    accent-color: var(--button-background-color);
}
.form-group:has(input[type="checkbox"]) input[type="checkbox"]:hover {
    cursor: pointer;
}
.form-group:has(input[type="checkbox"]) a {
    color: black;
    text-decoration: underline;
}
.form-group label {
    margin: 0;
}
.form-group:has(.form-switch) {
    position: relative;
    width: 20rem;
    margin: 2rem auto;
}
.form-group .form-switch{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 2.5rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    background: white;
}
.form-group .form-switch::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--button-background-color);
    left: 0;
    top: 0;
    transition: transform 0.3s;
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-switch span {
    width: 50%;
    z-index: 2;
    transition: color .3s;
    color: #777;
    text-align: center;

}
.form-group:has(.form-switch) input[type="checkbox"]{
    display: none;
}
.form-group:has(.form-switch) input[type="checkbox"]:checked  + .form-switch::before{
    transform: translateX(100%);
}

.form-group:has(.form-switch) input[type="checkbox"]:checked + .form-switch .right {
    color: black;
}

.form-group:has(.form-switch) input[type="checkbox"]:not(:checked) + .form-switch .left {
    color: black;
}

/* Labels à gauche */
.form-group label {
    width: 45%;
    font-size: 1.5rem;
}

/* Champs à droite */
.form-group input {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
}
.form-group:has(input[type="checkbox"]) label:not(.form-switch) {
    width: 65%;
}
.form-group:not(:has(.form-switch)) input[type="checkbox"] {
    width: 35%;

}
.form-group .readonly {
    pointer-events: none;
    background: grey;
}

    /* Bouton */
.form-actions {
    text-align: center;
    margin-top: 1.5rem;
}


