.panel {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-gap: 4rem;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FBF5EE;
    box-shadow: 5px 0 10px #00000065;

}
.panel-nav {
    background-color: #F7E7D6;
    grid-column: 1;
    min-height: 100%;
    display: block;
    border-right: solid 2px black;
}
.panel-container {
    display: flex;
    grid-column: 2;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}
.panel-container:has(.order-container) {
    flex-direction: column;
    gap: 2rem;
}

.panel-element .page-sub-title {
    margin-top: 0;
}
.panel-button {
    display: block;
    padding: 1rem;
    width: 100%;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}
.panel-button.active {
    background-color: #FFC2A1;
}
.panel-element.active {
    display: block;
    overflow-y: auto;
    padding: 2rem;

}

.panel-element {
    display: none;
    width: 100%;
}

@media (max-width: 750px) {
    .panel {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .panel-nav {
        border: 0;
    }
}